.circle-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1%;
  .circle {

    border:1px solid red;
    border-radius: 50%;

    &.xsm {
      width: 10px;
      height: 10px;
    }
    &.sm {
      width: 15px;
      height: 15px;
    }
    &.md {
      width: 20px;
      height: 20px;
    }
    &.lg {
      width: 25px;
      height: 25px;
    }
    &.xlg {
      width: 30px;
      height: 30px;
    }
  }
}