.circle-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1%;
  .circle {
    border-radius: 50%;
    // size
    &.xsm {
      width: 10px;
      height: 10px;
    }
    &.sm {
      width: 15px;
      height: 15px;
    }
    &.md {
      width: 20px;
      height: 20px;
    }
    &.lg {
      width: 25px;
      height: 25px;
    }
    &.xlg {
      width: 30px;
      height: 30px;
    }
    // end size

    // status
    &.completed{
      border:1px solid #18d918;
      background-color: #18d918;
    }
    &.high,
    &.failed{
      border:1px solid #f51212;
      background-color: #f51212;
    }

    &.medium{
      border:1px solid #fc941e;
      background-color: #fc941e;
    }
    &.proceeding{}

    &.not-yet,
    &.default,
    &.low{
      border:1px solid #e1e1e1;
      background-color: #e1e1e1;
    }
    // end status
  }
}